@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-primary: #3ea8ff;
}

:target::before {
  content: '';
  display: block;
  height: 72px;
  margin-top: -72px;
  visibility: hidden;
}

// ヘッダー、フッター
.header {
  background-color: #5a5d5e;
}

.footer {
  background-color: #5a5d5e;
}

/* ブログぺーじ */
.blog {
  h1 {
    color: red;
  }

  .alert {
    font-weight: bold;
    padding: 0.5em;
    background-color: orange;
    color: white;
  }
  
  .red {
    color: red;
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
